<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="InboundTesting" verbose="1" parallel="methods" thread-count="1">

<listeners>
		<listener class-name="Reports.ExtentReporterNG" />	
</listeners>
	
<test name="petStoreAllTestCases" allow-return-values="true">
    <classes>
       <class name="petStoreEndtoEnd.Post_PetStore_Method" />
       <class name="petStoreEndtoEnd.Get_PetStore_Method" />
       <class name="petStoreEndtoEnd.Delete_PetStore_Method" />
       <class name="petStoreEndtoEnd.Get_AfterDelete_PetStore" />
    </classes>
 </test>
 </suite>
 